<div class="navegation">
    <div id="linha-vertical"></div>
    <p>Olá, User!</p>
    <button class="cta">
        <span class="opt-order"><img src="assets/home-page.png" alt=""><a
                href="home">Início</a></span>
    </button>
    <button class="cta">
        <span class="opt-order"><img src="assets/shopping-list.png" alt=""><a
                href="pedidos">Pedidos</a></span>
    </button>
    <button class="cta">
        <span class="opt-order"><img src="assets/order.png" alt=""><a
                href="endereco">Endereços</a></span>
    </button>
    <button class="cta">
        <span class="opt-order"><img src="assets/usuario.png"> <a href="d-conta">Detalhes da
                Conta</a></span>
    </button>
</div>

<div class="container">
    <h1>Detalhes da Conta</h1>
</div>

<div class="user-info">
    <div class="input-group-two">
        <input required="" type="text" name="text" autocomplete="off" class="input">
        <label class="user-label">Nome Completo</label>
        <p>Será assim que seu nome será exibido na seção da conta e nos comentários</p>
    </div>
</div>
<div class="user-info">
    <div class="input-group-two">
        <input required="" type="text" name="text" autocomplete="off" class="input">
        <label class="user-label">Nome de Exibição</label>
        <p>Será assim que seu nome será exibido na seção da conta e nos comentários</p>
    </div>
</div>
<div class="user-info">
    <div class="input-group-two">
        <input required="" type="text" name="text" autocomplete="off" class="input">
        <label class="user-label">Endereço de Email</label>
    </div>
</div>
<div class="password">
    <h1>Alteração de Senha</h1>
</div>
<div class="user-password">
    <div class="user-info">
        <div class="input-group-two">
            <input required="" type="text" name="text" autocomplete="off" class="input">
            <label class="user-label">Senha atual</label>
        </div>
    </div>
    <div class="user-info" id="password">
        <div class="input-group-two">
            <input required="" type="text" name="text" autocomplete="off" class="input">
            <label class="user-label">Nova senha</label>
        </div>
    </div>
    <div class="user-info" id="password">
        <div class="input-group-two">
            <input required="" type="text" name="text" autocomplete="off" class="input">
            <label class="user-label">Confirmar nova senha</label>
        </div>
        <div class="btn-pass">
            <button class="save-alterations">Salvar alterações</button>
        </div>
    </div>
</div>

<div class="direitos">
    <p>Nine ® - 2022 - CNPJ 14.581.019/0002-11</p>
</div>