<div class="container">
    <div class="box">
        <h1>
            Carrinho
        </h1>
        <div class="info">
            <h1>Produto</h1>
            <h1>Quantidade</h1>
            <h1>Valor</h1>
        </div>
        <div class="container">
          <div class="card-table">
              <div class="cart-product">
                  <table class="table table-responsive">
                      <tbody >
                          <tr *ngFor="let item of products">
                              <td><img src="{{item.urlImage}}" alt=""></td>
                              <td>{{item.quantidade}}</td>
                              <td>{{item.valor}}</td>
                              <td>
                                  <button  class="btn" ><i class="fa fa-trash" aria-hidden="true"></i></button>
                              </td>
                          </tr>
                          <tr>
                              <td colspan="3"></td>
                              <td><a class="compra btn-sucess"  href="finalizada" >Comprar</a></td>
                              <td><strong>Total: R$</strong></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
         </div>
    </div>
</div>
<div class="btnbuy">
    <div class="main_div">
        <button class="shadow__btn">
            Finalizar Compra
        </button>
    </div>


