<div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <img src="assets/teste1s.png">
                    </div>
                </div>
            </div>
            <div class="card card2">
                <div class="my-auto mx-md-5 px-md-5 right">
                    <h1 class="text-black">CAMISA LEAN NINE</h1>
                    <h2 class="colorprice">R$130,00</h2>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <ul class="btnproduct">
                        <section class="container grid grid-template-columns2"><button class="but"> P
                          </button>
                          <button class="but"> M
                          </button>
                          <button class="but"> G
                          </button>
                          <button class="but"> GG
                        </button>
                        </section>
                      </ul>
                    <br>
                    <a href="pagamentos.html">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="badge badge-success" id="carrinhoIndex">?</span>
                      </a>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row justify-content-center my-3 px-3">
                        <button class="btn-product">ADICIONAR AO CARRINHO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<ul class="footer">
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <h6>Sobre</h6>
                    <p class="text-justify">
                        <li>Be Fucking Nine ⚡️</li>
                        <li>SHOP ONLINE // Novas T Shirts ON💜</li>
                        <li>Enviamos para todo 🇧🇷📦</li>
                        <li>Sigam nosso novo insta @ninee_things 🤪💜</li>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/category/c-language/"></a></li>
                        <li><a href="http://scanfcode.com/category/front-end-development/"></a></li>
                        <li><a href="http://scanfcode.com/category/back-end-development/"></a></li>
                        <li><a href="http://scanfcode.com/category/java-programming-language/"></a></li>
                        <li><a href="http://scanfcode.com/category/android/"></a></li>
                        <li><a href="http://scanfcode.com/category/templates/"></a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/about/">Sobre Nós</a></li>
                        <li><a
                                href="https://api.whatsapp.com/send?phone=+5516997422232&text=Olá%2C%20estava%20olhando%20seu%20site%20e%20fiquei%20com%20uma%20dúvida.%20Me%20ajuda%3F">Whatsapp</a>
                        </li>
                        <li><a href="http://scanfcode.com/privacy-policy/">Política de Privacidade</a></li>
                        <li><a href="https://www.instagram.com/ninee_style/">Instagram</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2022 Todos os direitos reservados pela
                        <a href="home">NINE</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="dribbble" href="https://www.instagram.com/ninee_style/"><img
                                    src="assets/instagram.png" width="70%"></a></li>
                        <li><a class="dribbble" href="https://www.instagram.com/ninee_things/"><img
                                    src="assets/instagram.png" width="70%"></a></li>
                        <li><a class="dribbble" href="https://www.instagram.com/jvmanaia/"><img
                                    src="assets/instagram.png" width="70%"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</ul>