
    <div class="navegation">
        <div id="linha-vertical"></div>
        <p>Olá, User!</p>
        <button class="cta">
            <span class="opt-order"><img src="assets/home-page.png" alt=""><a href="home">Início</a></span>
        </button>
        <button class="cta">
            <span class="opt-order"><img src="assets/shopping-list.png" alt=""><a href="pedidos">Pedidos</a></span>
        </button>
        <button class="cta">
            <span class="opt-order"><img src="assets/order.png" alt=""><a href="endereco">Endereços</a></span>
        </button>
        <button class="cta">
            <span class="opt-order"><img src="assets/usuario.png" alt=""><a href="d-conta">Detalhes da
                    Conta</a></span>
        </button>
    </div>

    <div class="container">
        <h1>Pedidos</h1>
    </div>

    <a href="home"><div class="product">
        <div class="box">
            <button class="btn-product">VER PRODUTOS</button>
            <p>Nenhum pedido foi feito ainda.</p>
        </div>
    </div>
</a>
    <div class="direitos">
        <p>Nine ® - 2022 - CNPJ 14.581.019/0002-11</p>
    </div>

