
<body>
    <header class="header">
    </header>

    <div class="navegation">
        <div id="linha-vertical"></div>
        <p>Olá, User!</p>
        <button class="cta">
            <span class="opt-order"><img src="assets/home-page.png" alt=""><a href="home">Início</a></span>
        </button>
        <button class="cta">
            <span class="opt-order"><img src="assets/shopping-list.png" alt=""><a href="pedidos">Pedidos</a></span>
        </button>
        <button class="cta">
            <span class="opt-order"><img src="assets/order.png" alt=""><a href="endereco">Endereços</a></span>
        </button>
        <button class="cta">
            <span class="opt-order"><img src="assets/usuario.png" alt=""><a href="d-conta">Detalhes da Conta</a></span>
        </button>
    </div>

    <div class="container">
        <h1>Minha Conta</h1>
    </div>
    <div class="infos">
        <p>Olá, Clique<a href="login"><font color="#fb00c9"> Aqui </font></a>para entrar na sua conta.</p>
        <div class="infos-two">
            <span>A partir do painel de controle de sua conta, você pode ver suas compras recentes, gerenciar seus
                endereços
                de entrega e faturamento, e editar sua senha e detalhes da conta.</span>
        </div>
    </div>

    <div class="direitos">
        <p>Nine ® - 2022 - CNPJ 14.581.019/0002-11</p>
    </div>
</body>
