<div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <div class="row justify-content-center px-3 mb-3">
                            <img id="logo" src="assets/logo.png">
                        </div>
                        <h3 class="mb-5 text-center heading">RECUPERAR SENHA</h3>

                        <h6 class="msg-info">INSIRA AQUI SEU E-MAIL</h6>

                        <div class="form-group">
                            <label class="form-control-label text-muted">E-mail</label>
                            <input type="text" id="email" name="email" placeholder="E-mail"
                                class="form-control">
                        </div>
                        <br>
                        <br>
                        <h6>Iremos enviar um e-mail de recuperação de senha para você dentro de alguns instantes.</h6>
                        <div class="row justify-content-center my-3 px-3">
                            <button class="btn-block btn-color">Enviar</button>
                        </div>
                    </div>
                </div>
                <div class="bottom text-center mb-5">
                    <p href="#" class="sm-text mx-auto mb-3">Já possui uma conta? <a href="login"><button
                                class="btn btn-white ml-2">Fazer login</button></a></p>
                </div>
            </div>
        </div>
    </div>
</div>




<ul class="footer">
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <h6>Sobre</h6>
                    <p class="text-justify">
                        <li>Be Fucking Nine ⚡️</li>
                        <li>SHOP ONLINE // Novas T Shirts ON💜</li>
                        <li>Enviamos para todo 🇧🇷📦</li>
                        <li>Sigam nosso novo insta @ninee_things 🤪💜</li>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/category/c-language/"></a></li>
                        <li><a href="http://scanfcode.com/category/front-end-development/"></a></li>
                        <li><a href="http://scanfcode.com/category/back-end-development/"></a></li>
                        <li><a href="http://scanfcode.com/category/java-programming-language/"></a></li>
                        <li><a href="http://scanfcode.com/category/android/"></a></li>
                        <li><a href="http://scanfcode.com/category/templates/"></a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/about/">Sobre Nós</a></li>
                        <li><a
                                href="https://api.whatsapp.com/send?phone=+5516997422232&text=Olá%2C%20estava%20olhando%20seu%20site%20e%20fiquei%20com%20uma%20dúvida.%20Me%20ajuda%3F">Whatsapp</a>
                        </li>
                        <li><a href="http://scanfcode.com/privacy-policy/">Política de Privacidade</a></li>
                        <li><a href="https://www.instagram.com/ninee_style/">Instagram</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2022 Todos os direitos reservados pela
                        <a href="home">NINE</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="dribbble" href="https://www.instagram.com/ninee_style/"><img
                                    src="assets/instagram.png" width="70%"></a></li>
                        <li><a class="dribbble" href="https://www.instagram.com/ninee_things/"><img
                                    src="assets/instagram.png" width="70%"></a></li>
                        <li><a class="dribbble" href="https://www.instagram.com/jvmanaia/"><img
                                    src="assets/instagram.png" width="70%"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</ul>