<br>
<img src="assets/background.jpg" width="100%">

<br>
<ul class="btnproduct">
  <section class="container grid grid-template-columns2"><button class="but"> Lançamentos
    </button>
    <button class="but"> Acessórios
    </button>
    <button class="but"> Coleções
    </button>
  </section>
</ul>

<br>


<ul class="gridbox">
  <li class="gridboxx">
    <div>
      <section class="container grid grid-template-columns">
        <div class="item">
          <div class="container">
            <div class="card">
              <div class="imgBx">
                <img src="assets/teste3s.png">
              </div>
              <div class="contentBx">
                <div class="size">
                  <h3>Size :</h3>
                  <span>P</span>
                  <span>M</span>
                  <span>G</span>
                  <span>GG</span>
                </div>
                <div class="color">
                  <h3>Cores :</h3>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <div class="buy">
                  <button class="btn">
                    <span>COMPRAR</span><i></i>
                  </button>
                  <div class="color">
                    <button class="detalhes">Ver detalhes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="card">
              <div class="imgBx">
                <img src="assets/teste1s.png">
              </div>
              <div class="contentBx">
                <div class="size">
                  <h3>Size :</h3>
                  <span>P</span>
                  <span>M</span>
                  <span>G</span>
                  <span>GG</span>
                </div>
                <div class="color">
                  <h3>Cores :</h3>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <div class="buy">
                  <button class="btn">
                    <span>COMPRAR</span><i></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="card">
              <div class="imgBx">
                <img src="assets/teste2s.png">
              </div>
              <div class="contentBx">
                <div class="size">
                  <h3>Size :</h3>
                  <span>P</span>
                  <span>M</span>
                  <span>G</span>
                  <span>GG</span>
                </div>
                <div class="color">
                  <h3>Cores :</h3>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <div class="buy">
                  <button class="btn">
                    <span>COMPRAR</span><i></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="card">
              <div class="imgBx">
                <img src="assets/teste3s.png">
              </div>
              <div class="contentBx">
                <div class="size">
                  <h3>Size :</h3>
                  <span>P</span>
                  <span>M</span>
                  <span>G</span>
                  <span>GG</span>
                </div>
                <div class="color">
                  <h3>Cores :</h3>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <div class="buy">
                  <button class="btn">
                    <span>COMPRAR</span><i></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="card">
              <div class="imgBx">
                <img src="assets/teste4s.png">
              </div>
              <div class="contentBx">
                <div class="size">
                  <h3>Size :</h3>
                  <span>P</span>
                  <span>M</span>
                  <span>G</span>
                  <span>GG</span>
                </div>
                <div class="color">
                  <h3>Cores :</h3>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <div class="buy">
                  <button class="btn">
                    <span>COMPRAR</span><i></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="card">
              <div class="imgBx">
                <img src="assets/teste5s.png">
              </div>
              <div class="contentBx">
                <div class="size">
                  <h3>Size :</h3>
                  <span>P</span>
                  <span>M</span>
                  <span>G</span>
                  <span>GG</span>
                </div>
                <div class="color">
                  <h3>Cores :</h3>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <div class="buy">
                  <button class="btn">
                    <span>COMPRAR</span><i></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </li>
</ul>


<br>



<!-- Site footer -->
<ul class="footer">
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <h6>Sobre</h6>
          <p class="text-justify">
            <li>Be Fucking Nine ⚡️</li>
            <li>SHOP ONLINE // Novas T Shirts ON💜</li>
            <li>Enviamos para todo 🇧🇷📦</li>
            <li>NINE NINE NINE 💜</li>
        </div>

        <!-- <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/"></a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/"></a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/"></a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/"></a></li>
            <li><a href="http://scanfcode.com/category/android/"></a></li>
            <li><a href="http://scanfcode.com/category/templates/"></a></li>
          </ul>
        </div> -->

        <!-- <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">Sobre Nós</a></li>
            <li><a
                href="https://api.whatsapp.com/send?phone=+5516997422232&text=Olá%2C%20estava%20olhando%20seu%20site%20e%20fiquei%20com%20uma%20dúvida.%20Me%20ajuda%3F">Whatsapp</a>
            </li>
            <li><a href="http://scanfcode.com/privacy-policy/">Política de Privacidade</a></li>
            <li><a href="https://www.instagram.com/ninee_style/">Instagram</a></li>
          </ul>
        </div> -->
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">&copy; 2022 NINE. Todos os direitos reservados.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="dribbble" href="https://www.instagram.com/ninee_style/"><img src="assets/instagram.png"
                  width="70%"></a></li>
            <li><a class="dribbble" href="https://www.instagram.com/ninee_things/"><img src="assets/instagram.png"
                  width="70%"></a></li>
            <li><a class="dribbble" href="https://www.instagram.com/jvmanaia/"><img src="assets/instagram.png"
                  width="70%"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</ul>