<div class="navegation">
    <div id="linha-vertical"></div>
    <p>Olá, User!</p>
    <button class="cta">
        <span class="opt-order"><img src="assets/home-page.png" alt=""><a href="home">Início</a></span>
    </button>

    <button class="cta">
        <span class="opt-order"><img src="assets/shopping-list.png" alt=""><a href="pedidos">Pedidos</a></span>
    </button>
    <button class="cta">
        <span class="opt-order"><img src="assets/order.png" alt=""><a href="endereco">Endereços</a></span>
    </button>
    <button class="cta">
        <span class="opt-order"><img src="assets/usuario.png" alt=""><a href="d-conta">Detalhes da
                Conta</a></span>
    </button>
</div>

<div class="container">
    <h1>Endereço</h1>
</div>
<div class="infos">
    <p>Os endereços a seguir serão usados na página de finalização de compra por padrão.</p>
</div>
<br>
<div class="cardgeral">
    <div class="card">
        <div class="cardgeral">
            <div class="card__content">
                <div class="card__content-heading">
                    <h2>Endereço de Entrega</h2>
                    <br>
                </div>
                <div class="card__content-body">
                    <p> Você não preencheu este tipo de endereço ainda.
                    </p>
                    <p> Deseja Preencher?
                    </p>
                </div>
                <div class="card__content-footer">
                    <button><a href="endereco">Sim</a>
                    </button>
                    <button><a href="endereco">Não</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="direitos">
    <p>Nine ® - 2022 - CNPJ 14.581.019/0002-11</p>
</div>